<a href="https://colab.research.google.com/github/Avik2845/Avik_Repos/blob/master/Avik_Repos/Product_Reco_EDA_/_imputation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive/',force_remount=True)
mainpath="./drive/My Drive/Recommendation_Engine/"

In [0]:
import pandas as pd
train=pd.read_csv(mainpath+"train1.csv",  index_col=False)
train.head(1)

import pandas as pd
train=pd.read_csv(mainpath+"train_ver2.csv",  index_col=False, low_memory = False)

In [0]:
train.drop('Unnamed: 0', axis=1, inplace=True)
train.isna().sum()

In [0]:
print(train.columns.values)

In [0]:
train["gross_income"]=train.groupby(['province_name'])["gross_income"].apply(lambda m: m.fillna(m.median()))

train["gross_income_province"] = train.groupby(['province_name'])["gross_income"].apply(lambda m: m.fillna(m.median()))
train["gross_income_sex"] = train.groupby([ 'sex'])["gross_income"].apply(lambda m: m.fillna(m.median()))
train["gross_income_seniority"] = train.groupby(['customer_seniority'])["gross_income"].apply(lambda m:m.fillna(m.median()))

```
# This is formatted as code
```

In [0]:
train.isna().sum()

train.sort_values(by=['fecha_dato'], inplace=True, ascending=True)


train.iloc[:,15:38].sum(axis = 0)
```
# This is formatted as code
```

In [0]:
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
var = train.groupby('segmentation').segmentation.count()
fig = plt.figure()
ax1 = fig.add_subplot(1,1,1)
var.plot(kind='bar')
var

In [0]:
var = train.groupby('segmentation').Payroll.sum()
fig = plt.figure()
ax1 = fig.add_subplot(1,1,1)
var.plot(kind='bar')

In [0]:
fig = plt.figure()
ax = fig.add_subplot(1,1,1)
ax.scatter(train['age'].unique(),train.groupby('age').gross_income.sum()) #You can also add more variables here to represent color and size.
plt.show()

In [0]:
print(train.columns.values)

In [0]:
var = train.groupby('customer_seniority').gross_income.mean()
fig = plt.figure()
ax1 = fig.add_subplot(1,1,1)
var.plot(kind='bar')

In [0]:
var = train.groupby(['segmentation','Payroll']).gross_income.sum()
var.unstack().plot(kind='bar',stacked=True,  color=['red','green'], grid=False)

EDA on sampled data

In [0]:
train.shape[0]

In [0]:
df = train.sample(n = 1339115, random_state= 1)

In [0]:
df = train.head(1339115)

In [0]:
len(df['customer_code'].unique().tolist())

In [0]:
df.sort_values(by=['fecha_dato'], inplace=True, ascending=True)

In [0]:
df.iloc[:,15:38].sum(axis = 0)

In [0]:
print(df.columns.values)

In [0]:
var = train.groupby(['province_name'])["gross_income"].sum()
fig = plt.figure()
ax1 = fig.add_subplot(1,1,1)
var.plot(kind='bar')

In [0]:
train.groupby(['province_name'])["gross_income"].sum()

New Mohit's sampled dat

In [0]:
from google.colab import drive
drive.mount('/content/drive/',force_remount=True)
mainpath="./drive/My Drive/Recommendation_Engine/"

In [2]:
import pandas as pd
train=pd.read_csv(mainpath+"train3.csv")
train.drop('Unnamed: 0', axis=1, inplace=True)
train.head(1)

,fecha_dato,customer_code,sex,age,Joining_date,new_customer_index,customer_seniority,customer_relation_type,foreigner_index,channel,...,Mortgage_Cumulative,Pensions_Cumulative,Loans_Cumulative,Taxes_Cumulative,Credit_Card_Cumulative,Securities_Cumulative,Home_Account_Cumulative,Payroll_Cumulative,Pensions_1_Cumulative,Direct_Debit_Cumulative
0,2016-02-28,15898,H,60.0,2000-01-26,0.0,253.0,I,N,KAT,...,0,0,0,0,0,0,0,0.0,0.0,0

In [0]:
print(train..columns.values)

In [0]:
df = train.iloc[:,38:62]

In [0]:
print(df.columns.values)

In [0]:
df.shape

In [0]:
from scipy.spatial.distance import pdist,squareform
dist = pdist(df.T, metric='euclidean')
sim = squareform(dist)

In [9]:
sim.shape

(24, 24)