<a href="https://colab.research.google.com/github/Avik2845/Avik_Repos/blob/master/Product_Reco_EDA_/_imputation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive/',force_remount=True)
mainpath="./drive/My Drive/Recommendation_Engine/"

In [0]:
import pandas as pd
train=pd.read_csv(mainpath+"train1.csv",  index_col=False)

In [3]:
train.head(1)

,Unnamed: 0,fecha_dato,customer_code,sex,age,Joining_date,new_customer_index,customer_seniority,customer_relation_type,foreigner_index,...,Mortgage,Pensions,Loans,Taxes,Credit_Card,Securities,Home_Account,Payroll,Pensions_1,Direct_Debit
0,0,2015-01-28,1375586,H,35.0,2015-01-12,0.0,6.0,A,N,...,0,0,0,0,0,0,0,0.0,0.0,0

import pandas as pd
train=pd.read_csv(mainpath+"train_ver2.csv",  index_col=False, low_memory = False)

In [0]:
train.drop('Unnamed: 0', axis=1, inplace=True)
train.shape
train.isna().sum()

In [0]:
print(train.columns.values)

['fecha_dato' 'customer_code' 'sex' 'age' 'Joining_date'
 'new_customer_index' 'customer_seniority' 'customer_relation_type'
 'foreigner_index' 'channel' 'province_name' 'activity_index'
 'gross_income' 'segmentation' 'Saving_Account' 'Guarantees'
 'Current_Accounts' 'Derivada_Account' 'Payroll_Account' 'Junior_Account'
 'Más_particular_Account' 'particular_Account' 'particular_Plus_Account'
 'Short_term_deposits' 'Medium_term_deposits' 'Long_term_deposits'
 'e_account' 'Funds' 'Mortgage' 'Pensions' 'Loans' 'Taxes' 'Credit_Card'
 'Securities' 'Home_Account' 'Payroll' 'Pensions_1' 'Direct_Debit']

from fancyimpute import IterativeImputer 
imputer = IterativeImputer()

train_filled = imputer.fit_transform(train)

In [0]:
train["gross_income"]=train.groupby("province_name")["gross_income"].apply(lambda m: m.fillna(m.median()))

In [0]:
train.isna().sum()

In [0]:
 feature_matrix, feature_defs = ft.dfs(entityset=es,target_entity="customers",agg_primitives=["count"],
   ...:                                       trans_primitives=["month"],
   ...:                                       max_depth=1)